.container {
    text-align: center; /* Center the button horizontally */
    margin-top: 10px; /* Adjust margin as needed */
  }

.item_style {
    padding-top: 20px;
}
  
.imageStyle {
    height: 100px; width: 200px; overflow: hidden;
}
  
  .seeitems {
    margin: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: background 0.5s, transform 0.5s;
    background-image: linear-gradient(to right, #6a11cb, #2575fc);
  }
  
  .seeitems:hover {
    background-image: linear-gradient(to right, #2196F3, #8596fb);
    color: #000;
    transform: scale(1.05);
  }
  
  .listitems {
      margin: 5px;
      padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      border: none;
      border-radius: 5px;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
      transition: background 0.5s, transform 0.5s;
      background-image: linear-gradient(to right, #6a11cb, #2575fc);
    }
    
    .listitems:hover {
      background-image: linear-gradient(to right, #fc4a1a, #f7b733);
      transform: scale(1.05);
    }